<div class="card mx-auto result-cards">
  <img class="card-img-top restaurant-results-image" src="https://wallpaperaccess.com/full/767277.jpg"
    alt="Card image cap" />
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
    </p>
    <p class="card-text">
      Location:
    </p>
    <p class="card-text">
      User Rating
    </p>
    <p class="card-text">
      Price Range:
    </p>
  </div>
  <div class="button ml-auto">
    <button class=" plus-button plus-button--small">
    </button>
  </div>
</div>