<footer data-aos="fade-in" class="page-footer">
  <div class="container-fluid text-center text-md-left">
    <div class="row text-center">
      <div class="col-md-6 mt-3 .mt-md-0">
        <h5 class="text-uppercase font-weight-bold footer-names">
          Som Ramnani
        </h5>
        <p class="">
          <i class="fas fa-home mr-3"></i>
          New York, New York
        </p>
        <p class="">
          <i class="fas fa-envelope mr-3"></i>
          som.ramnani@gmail.com
        </p>
        <p class="">
          <i class="fas fa-phone mr-3"></i>
          +1 408 960 9932
        </p>
        <div class="social">
          <a href="https://github.com/somramnani" target="_blank" class="social-icons"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/som-ramnani-b1990b14b" target="_blank" class="social-icons"><i
              class="fab fa-linkedin"></i></a>
          <a href="mailto:som.ramnani@gmail.com" target="_blank" class="social-icons"><i
              class="far fa-envelope"></i></a>
        </div>
      </div>

      <div class="col-md-6 mt-3 .mt-md-0">
        <h5 class="text-uppercase font-weight-bold footer-names">
          Brent Abruzese
        </h5>
        <p class="">
          <i class="fas fa-home mr-3"></i>
          New York, New York
        </p>
        <p class="">
          <i class="fas fa-envelope mr-3"></i>
          brent.abruzese@gmail.com
        </p>
        <p class="">
          <i class="fas fa-phone mr-3"></i>
          +1 848 213 2522
        </p>

        <div class="social">
          <a href="https://github.com/coderbrent" target="_blank" class="social-icons"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/brent-abruzese/" target="_blank" class="social-icons"><i
              class="fab fa-linkedin"></i></a>
          <a href="mailto:brent.abruzese@gmail.com" target="_blank" class="social-icons"><i
              class="far fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center">
    Created by Som Ramnani & Brent Abruzese
  </div>
</footer>