<div class="card mx-auto result-cards">
  <img class="card-img-top"
    src="https://static01.nyt.com/images/2015/08/19/dining/19PIZZA-LUCALI-slide-7LW4/19PIZZA-LUCALI-slide-7LW4-articleLarge-v2.jpg?quality=90&auto=webp"
    alt="Card image cap" />
  <div class="card-body results-cardbody">
    <a href="https://www.yelp.com/biz/lucali-brooklyn-3" class="href" target="_blank">
      <h5 class="card-title">Lucali's</h5>
    </a>
    <p class="card-text">
    <div class="rating">
      {{!-- {{ rating}} --}}
      $$ •
      <span class="fa fa-star checked"></span>
      <span class="far fa-star "></span>
      <span class="far fa-star "></span>
      <span class="far fa-star "></span>
      <span class="far fa-star "></span>
      5 reviews
    </div>
    </p>
    <p class="card-text ">
      <i class="fas fa-map-marker-alt  location-icon-cards"></i>
      575 Henry Street,
      Brooklyn, NY 11231
    </p>
    <p class="card-text">
      <i class="fas fa-phone icon-cards"> </i>
      (718) 858-4086
    </p>
    <div class="row">
      <div class="col">
        <i class="fas fa-check transaction-icon"></i> Takeout
      </div>
      <div class="col">

        <i class="fas fa-check transaction-icon"></i>


        Delivery
      </div>

      <div class="col addbuttoncol">
        <div class="button ml-auto">
          <button onclick="saveActivity({{idToString id}}, {{idToString activityType}})"
            class="plus-button plus-button--small">
          </button>
        </div>
      </div>
    </div>
  </div>
</div>