<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" id="navbar-logo" href="/">Date Night</a>
  <!-- Navbar content -->
  <ul class="nav navbar-nav ml-auto navbar-content">
    <li class="nav-item">
      {{> isLoggedin }}
    </li>
  </ul>
</nav>