<form action="/api/get-activities/" method="POST">
  <div class="input-group border-0 rounded p-1">
  <input id="location" name="location" type="search" value="" placeholder="Enter Zip Code or City" aria-describedby="button-addon3"
    class="form-control bg-none border-2 rounded mr-1 divider-vertical" required="true"/>
  <input id="calendar" type="date" name="startDate" value="" min="" max="2021-09-29" required="true"/>
  <div class="input-group-append">
    <button id="search" type="submit" class="btn btn-link searchbutton">
      <i class="fa fa-search"></i>
    </button>
  </div>
  </div>
</form>
