     {{#ifEqual rating 1}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 1.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 2}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 2.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 3}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 3.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked"></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 4}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star "></span>
      {{/ifEqual}}

      {{#ifEqual rating 4.5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fas fa-star-half-alt checked  "></span>
      {{/ifEqual}}

      {{#ifEqual rating 5}}
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      {{/ifEqual}}