<!--NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" id="navbar-logo" href="/">Date Night</a>
  <!-- Navbar content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  </div>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <img src='{{user.picture}}' alt="Profile picture"
          class="nav-user-profile profile-image rounded-circle user-image" width="40" />
        {{user.name.givenName}}
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item disabled" href="/users">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Sign Out</a>
      </div>
    </li>
  </ul>
</nav>

<div class="jumbotron itinerarypage-jumbtron jumbotron-fluid" data-aos="fade-in">
  <div class="container ">
    <h1 class="text-center" id="itinerary-header-text">
      Plan your date night
    </h1>
    <form class="itinerary-form ">
      <div class="input-group border rounded-pill p-1 itinerary-search-bar">
        <input type="search" placeholder="Enter Zip Code or City" aria-describedby="button-addon3"
          class="form-control bg-none border-0 divider-vertical" />
        <input id="calender" type="date" name="trip-start" value="" min="" max="2021-09-29" />
        <div class="input-group-append">
          <a href="/results">
            <button id="button-addon3" type="button" class="btn btn-link searchbutton">
              <i class="fa fa-search"></i>
            </button>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<section class="itinerary-section" data-aos="fade-in">
  <div class="container">
    <h3 id="itinerary-section-header">Your Itinerary</h3>
    <div class="row">
      <div class="col-sm itinerary-div">
        <div class="card result-cards">
          <img class="card-img-top itinerary-results-image" src="https://wallpaperaccess.com/full/767277.jpg"
            alt="Card image cap" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and
              make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>