{{> navbar }}

<div class="jumbotron itinerarypage-jumbtron jumbotron-fluid" data-aos="fade-in">
  <div class="container">
    <h1 class="text-center" id="itinerary-header-text">
      Plan your date night
    </h1>
    <div class="itinerary-form ">
      {{> searchbar }}
    </div>
  </div>
</div>

<section class="itinerary-section aos-init aos-animate" data-aos="fade-in">
  <div class="container">
    <h3 id="itinerary-section-header" class="text-center">Your Itinerary</h3>
    <hr>

    {{#if data}}
    {{#each data}}
    {{#with dataValues}}
    <div class="itinerary-container shadow-5">
      <div class="summary">
        <p class="summary-item">
          <i class="fas fa-glass-cheers summary-item"></i>
          Date Night #{{math @index 1}}
        </p>

        {{!-- Heroku --}}
        {{!-- <p class="summary-item">
          <i class="far fa-calendar-alt summary-item"></i>
          12/30/2021
        </p>
        <p class="summary-item">
          <i class="far fa-clock summary-item"></i>
          5:30pm
        </p> --}}

      </div>
      <div class="itinerary-row">
        {{> itinerary-slots
        activityType = restaurant.type
        name = restaurant.name
        url = restaurant.url
        price = restaurant.price
        address = restaurant.address
        city = restaurant.city
        state = restaurant.state
        zipcode = restaurant.zipcode
        rating = restaurant.rating
        id = restaurant.id
        phone = restaurant.phone
        img = restaurant.img
        reviews = restaurant.reviews
        date = restaurant.date
        transactions = restaurant.transactions
      }}
      </div>
      <div class="itinerary-row">
        {{> itinerary-slots
        activityType = event.type
        name = event.name
        url = event.url
        price = event.price
        location = event.location
        address = event.address
        city = event.city
        state = event.state
        zipcode = event.zipcode
        rating = event.rating
        id = event.id
        phone = event.phone
        img = event.img
        description = event.description
        timeStart = event.timeStart
        timeEnd = event.timeEnd
        ticketsUrl = event.ticketsUrl
      }}
      </div>
      <div class="button-panel">

        <button onclick="" class="delete" data-toggle="modal" data-target="#deleteItModal">Delete</button>
        {{>deleteItModal}}
        {{!-- <button class="reschedule">Reschedule</button> --}}
      </div>
    </div>
    {{/with}}
    {{/each}}

    {{else}}
    <div id="empty-itineraries">
      <h4 class="text-center">
        You don't have any saved itineraries.
      </h4>
    </div>
    {{/if}}

  </div>
</section>