{{> navbar }}

<div class="jumbotron itinerarypage-jumbtron jumbotron-fluid" data-aos="fade-in">
  <div class="container ">
    <h1 class="text-center" id="itinerary-header-text">
      Plan your date night
    </h1>
    <div class="itinerary-form ">
      {{> searchbar }}
    </div>
  </div>
</div>

<section class="itinerary-section" data-aos="fade-in">
  <div class="container">
    <h3 id="itinerary-section-header">Your Itinerary</h3>

    {{#each data}}
    {{#with dataValues}}
    <h3>Date</h3>
    <div class="row itinerary-div">
      {{!-- the dataValues object returns a restaurant object and an event object --}}
      <div class="col m-2 result-col ">
        {{>   itinerary-cards
              activityType=restaurant.type
              name=restaurant.name
              url=restaurant.url
              price=restaurant.price
              address=restaurant.address
              city=restaurant.city
              state =restaurant.state
              zipcode = restaurant.zipcode
              rating=restaurant.rating
              id=restaurant.id
              phone=restaurant.phone
              img=restaurant.img
              reviews=restaurant.reviews
            }}
      </div>
      <div class="col m-2 result-col">
        {{> itinerary-cards
              activityType=event.type
              name=event.name
              url=event.url
              price=event.price
              location=event.location
              address=event.address
              city=event.city
              state =event.state
              zipcode = event.zipcode
              rating=event.rating
              id=event.id
              phone=event.phone
              img=event.img
              description= event.description
              timeStart = event.timeStart
              timeEnd = event.timeEnd
              ticketsUrl = event.ticketsUrl
            }}
      </div>
    </div>
  </div>
  {{/with}}
  {{/each}}
</section>