{{> navbar }}

<div class="jumbotron itinerarypage-jumbtron jumbotron-fluid" data-aos="fade-in">
  <div class="container ">
    <h1 class="text-center" id="itinerary-header-text">
      Plan your date night
    </h1>
    <div class="itinerary-form ">
      {{> searchbar }}
    </div>
  </div>
</div>

<section class="itinerary-section" data-aos="fade-in">
  <div class="container">
    <h3 id="itinerary-section-header">Your Itinerary</h3>
    <div class="row">
      <div class="col itinerary-div">
        {{#each data}}
        {{#with dataValues}} 
        {{!-- the dataValues object returns a restaurant object and an event object --}}
        <div class="col m-2 result-col">
        <div>
          {{> itinerary-cards
              activityType=restaurant.type
              name=restaurant.name
              url=restaurant.url
              price=restaurant.price
              location=restaurant.location
              rating=restaurant.rating
              id=restaurant.id
              phone=restaurant.phone
              img=restaurant.img
            }}
        </div>
          <div class="col m-2 result-col">
              {{> itinerary-cards
              activityType=event.type
              name=event.name
              url=event.url
              price=event.price
              location=event.location
              rating=event.rating
              id=event.id
              phone=event.phone
              img=event.img
            }}
          </div>
          </div>
        {{/with}}
        {{/each}}
      </div>
    </div>
</section>