{{> navbar }}

<div class="jumbotron itinerarypage-jumbtron jumbotron-fluid" data-aos="fade-in">
  <div class="container ">
    <h1 class="text-center" id="itinerary-header-text">
      Plan your date night
    </h1>
    <div class="itinerary-form ">
      {{> searchbar }}
    </div>
  </div>
</div>

<section class="itinerary-section" data-aos="fade-in">
  <div class="container">
    <h3 id="itinerary-section-header">Your Itinerary</h3>
    <div class="row">
      <div class="col itinerary-div">
        {{> itinerary-cards}}
      </div>
    </div>
</section>