/*==========================================================================*/
/* General Styles
/*==========================================================================*/
html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.form-group1 {
  visibility: hidden;
}

.col1 {
  border: 1px;
}
.displaynone {
  display: none;
}

.information-full-page {
  display: block;
  /* padding-top: 2em; */
  padding-bottom: 2em;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.homepage-form {
  padding-top: 2em;
}
.search-results-form {
  padding-top: 0.5em;
}

.planyourdatenight {
  padding-top: 10em;
}

.filter-column {
  background-color: #fbfbfc;
  display: block;
  height: 100%;
  width: 100%;
  border-right: black;
}
.mycontent-left {
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 1em;
}
.results-page-column {
  display: block;
  width: 100%;
  padding-top: 10px;
}
.results-sections-styling {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.result-cards {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
  width: 250px;
  height: auto;
  font-size: 10px;
}
.results-div {
  padding-bottom: 20px;
}
.results-page-column-row {
  margin-right: 0px;
  margin-left: 5px;
}
.row2 {
  margin-right: 0px;
  margin-left: 0px;
}
.dollar-sign-button {
  padding: 0px;
}

#theater-results-section,
#event-results-section {
  margin-top: 1em;
}

#event-results-section {
  margin-bottom: 1em;
}

.jumbotron {
  background-color: white !important;
}

.itinerary-search-bar {
  background-color: white;
}

.itinerary-form {
  width: 28%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.itinerary-section {
  padding-bottom: 1em;
  display: block;
}

/*==========================================================================*/
/* Header Styles
/*==========================================================================*/
.activity-header,
.header {
  color: white;
  font-weight: bold;
}

.activity-header {
  padding-top: 2em;
}

.price-header {
  padding-top: 1em;
  font-weight: bold;
}

.results-header {
  font-weight: bold;
  padding-left: 10px;
  padding-top: 20px;
}
.welcomepageheader {
  margin-right: 1em;
}

#itinerary-section-header {
  font-weight: bold;
  padding-bottom: 0.5em;
}

#itinerary-header-text {
  font-weight: bold;
  color: white;
  font-family: "Sansita Swashed", cursive;
  padding-bottom: 1em;
  font-size: 3em;
}

/*==========================================================================*/
/* Text Styles
/*==========================================================================*/
.imageTitle {
  text-align: center;
  font-size: 75px;
  color: white;
}

.search {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}
.information-fullpage {
  display: block;
  height: 100%;
  width: 100%;
}

.icon {
  font-size: 4em;
  padding: 20px;
}
.icon-text {
  font-weight: bold;
}
#aboutinformation-header {
  font-weight: bold;
  padding-top: 2em;
}

#aboutinformation-text {
  padding-right: 1em;
  padding-left: 1em;
}

#navbar-logo {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.8em;
}

#homepage-header {
  font-weight: bold;
  font-size: 4em;
  font-family: "Sansita Swashed", cursive;
}

.searchbutton {
  color: black;
}

#calender {
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem;
  padding-left: 1em;
}

.typeofdate {
  padding-left: 2em;
}

.filter-header {
  font-weight: bold;
}

#filter-heading {
  padding-left: 15px;
  padding-top: 20px;
}

#clear-all-button {
  padding-top: 25px;
}
#clear-all-button a {
  color: inherit;
  text-decoration: underline;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
.filter-types a {
  color: inherit;
  font-weight: bold;
}

.filter-type-container {
  padding-top: 1em;
}

.social-icons {
  font-size: 2em;
  padding: 10px;
  color: white;
}

/*========================================================================== */
/* Image Styles
/*========================================================================== */
.background-image {
  background-image: url("/backgroundimage");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
}

img {
  height: 1px;
}

.homepage-background-photo {
  background-image: url("/fireworks");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  opacity: 1;
  width: 100%;
  background-position: center center;
}

/* .restaurant-results-image{
  height: 50%;
} */

.embed-responsive .card-img-top {
  object-fit: cover;
}

.card-img-top {
  height: 9rem;
  object-fit: cover;
}

.date-night-img {
  width: auto;
  height: 300px;
}
.dateimagecol {
  padding-left: 30%;
}

.itinerarypage-jumbtron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/date1");
  display: block;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  height: 40%;
}

.user-image {
  height: auto;
}

/*========================================================================== */
/* Button Styles 
/*========================================================================== */

/*==========================================================================  
/*Footer Styles
/*========================================================================== */
.page-footer {
  bottom: 0;
  color: #fff;
  background-color: #263238 !important;
  font-size: 0.9rem;
  padding-top: 1.5rem !important;
}

.mt-md-0 {
  margin-top: 0 !important;
}
.footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/*==========================================================================  
/* Media Queries
/*========================================================================== */
@media (max-width: 480px) {
  /* Homepage (login.html) */
  .homepage-background-photo {
    background-image: url("/fireworks-mobile");
    height: 20rem;
  }

  .homepage-image-div {
    padding-left: 0px;
    padding-right: 0px;
  }

  #homepage-header {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .planyourdatenight {
    padding-bottom: 5em;
  }

  .homepage-form {
    padding-top: 0em;
  }

  .dateimagecol {
    padding-left: 0%;
  }

  .date-night-img {
    height: 200px;
  }

  .planyourdatenight {
    padding-top: 1em;
  }
}
