/*==========================================================================*/
/* General Styles
/*==========================================================================*/

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.form-group1 {
  visibility: hidden;
}

.col1 {
  border: 1px;
}
.displaynone {
  display: none;
}

.information-full-page {
  display: block;
  /* padding-top: 2em; */
  padding-bottom: 2em;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

.homepage-form {
  padding-top: 2em;
}

.divder {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.planyourdatenight {
  padding-top: 10em;
}

.filter-column {
  display: block;
  position: fixed;
  width: 100%;
  border-right: black;
  z-index: 1;
}
.mycontent-left {
  height: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding-bottom: 1em;
}

.current-itinerary-section {
  padding-top: 20px;
}

.filter-container {
  left: 50%;
  padding-left: 25%;
}

.webpage-icons {
  padding-top: 3em;
}

.results-page-column {
  padding-top: 5em;
  display: block;
  width: 100%;
}

.results-sections-styling {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.results-cardbody {
  padding-bottom: 5px;
}
.result-cards {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
  width: 250px;
  height: auto;
  font-size: 11px;
}
.result-col {
  padding-bottom: 20px;
}
.results-div {
  padding-bottom: 20px;
}
.results-page-column-row {
  margin-right: 0px;
  margin-left: 5px;
}
.row2 {
  margin-right: 0px;
  margin-left: 0px;
}
.dollar-sign-button {
  padding: 0px;
}

#event-results-section {
  margin-top: 1em;
}

#event-results-section {
  margin-bottom: 1em;
}

.jumbotron {
  background-color: white !important;
}

.input-group {
  background-color: white;
}

.search-results-form {
  width: 80%;
  margin-left: 18%;
}

.itinerary-form {
  width: 40%;
  margin-right: -50%;
  margin-left: 30%;
  display: block;
  text-align: center;
}
.results-page-form {
  width: 30%;
  margin-right: -50%;
  margin-left: 20%;
  display: block;
  text-align: center;
}

.itinerary-section {
  padding-bottom: 1em;
  display: block;
}

.main-page-searchbar {
  width: 70%;
  margin-left: 15%;
  padding-top: 5%;
}

.border-rounded-pill {
  border-radius: 1.2rem;
  border: #c1c1c1 solid 1px;
  background-color: white;
}

.fa-check {
  color: green;
}
.fa-times {
  color: red;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: grey;
}
.icon-cards {
  padding-right: 2px;
}
.location-icon-cards {
  padding-right: 5px;
}

.date-icon-cards {
  padding-right: 3px;
}

.transaction-icon {
  padding-right: 1px;
  font-size: 11px;
}

.itinerary-card {
  border-radius: 5pt;
  background-color: #fff;
  margin: 0.35rem 0rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0);
}
.times {
  padding-left: 4em;
}

.right-side-results {
  padding-left: 25em;
}
/*==========================================================================*/
/* Navbar Styles
/*==========================================================================*/

.login-icon,
.itinerary-icon {
  padding-right: 5px;
}
.p-1 {
  padding: 0.4rem !important;
}
.navbar-nav {
  padding-top: 8px;
}

.navbar-content {
  padding-right: 40px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 15px;
  display: none;
  position: absolute;
  background-color: white;
  min-width: 115px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.25rem;
  display: absolute;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropbtn:focus {
  outline: none;
  outline: none;
}

.dropbtn {
  cursor: pointer;
  border: none;
  background-color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}

.animate {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Pure CSS Loader */
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  z-index: 99;
  position: absolute;
  top: 40%;
  left: 45%;
  z-index: 100;
}

/*==========================================================================*/
/* Header Styles
/*==========================================================================*/
.activity-header,
.header {
  color: white;
  font-weight: bold;
}

.activity-header {
  padding-top: 2em;
}

.price-header {
  padding-top: 1em;
  font-weight: bold;
}

.results-header {
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}
.welcomepageheader {
  margin-right: 1em;
}

#itinerary-section-header {
  font-weight: bold;
  padding-bottom: 0.5em;
}

#itinerary-header-text {
  font-weight: bold;
  color: white;
  font-family: "Sansita Swashed", cursive;
  padding-bottom: 0.2em;
  font-size: 3em;
}

/*==========================================================================*/
/* Text Styles
/*==========================================================================*/
.imageTitle {
  text-align: center;
  font-size: 75px;
  color: white;
}

.search {
  width: 50%;
  position: absolute;
  right: 0px;
  height: 100%;
}
.information-fullpage {
  display: block;
  height: 100%;
  width: 100%;
}
.about-section {
  background-color: #efefef;
}
#aboutDateNightHeader {
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 60px;
}
#aboutDateNighttext {
  padding-top: 30px;
  padding-bottom: 30px;
}

.icon {
  font-size: 4em;
  padding: 20px;
}
.icon-text {
  font-weight: bold;
}
#aboutinformation-header {
  font-weight: bold;
  padding-top: 2em;
}

#aboutinformation-text {
  padding-right: 1em;
  padding-left: 1em;
}

#navbar-logo {
  font-family: "Sansita Swashed", cursive;
  font-size: 1.8em;
}

#homepage-header {
  font-weight: bold;
  font-size: 4em;
  font-family: "Sansita Swashed", cursive;
}

.searchbutton {
  color: black;
  position: static;
}

.input-group-append .btn,
.input-group-prepend .btn {
  position: static;
}

#calendar {
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem;
  padding-left: 1em;
}

.typeofdate {
  padding-left: 2em;
}

.filter-header {
  font-weight: bold;
}

#filter-heading {
  padding-left: 15px;
  padding-top: 20px;
}

#clear-all-button {
  padding-top: 25px;
}
#clear-all-button a {
  color: inherit;
  text-decoration: underline;
}

.navbar {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: white;
}
.filter-types a {
  color: inherit;
  font-weight: bold;
}

.filter-type-container {
  padding-top: 1em;
}

.social-icons {
  font-size: 2em;
  padding: 10px;
  color: white;
}

.itinerary-event-button {
  padding-left: 14em;
}

/*========================================================================== */
/* Image Styles
/*========================================================================== */
.background-image {
  background-image: url("/backgroundimage");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
}

img {
  height: 1px;
}

.homepage-background-photo {
  background-image: url("/fireworks");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
  opacity: 1;
  width: 100%;
  background-position: center center;
}

/* .restaurant-results-image{
  height: 50%;
} */

.embed-responsive .card-img-top {
  object-fit: cover;
}

.slot-icon {
  color: rgb(115, 226, 215);
}

.slot-btn {
  border: none;
  background: transparent;
}

.slot-remove {
  color: rgb(226, 79, 79);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.9s;
}

.slot-remove:hover {
  transform: rotateZ(360deg);
}

.slot-wrapper {
  font-size: 1rem;
  margin: 0.5rem 0rem;
  width: 100%;
  border-radius: 5pt;
  display: flex;
  font-family: arial;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  transition: all 0.5s;
  padding: 0.3rem;
}

.slot-wrapper:hover {
  background-color: rgba(64, 224, 208, 0.245);
}

.card-img-top {
  height: 9rem;
  object-fit: cover;
}

.date-night-img {
  width: auto;
  height: 300px;
}
.dateimagecol {
  padding-left: 30%;
}
.location-placeholder {
  font-family: "Roboto", FontAwesome;
}

.itinerarypage-jumbtron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/date1");
  display: block;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  opacity: 1;
  height: 40%;
}

.user-image {
  height: auto;
}

.webpage-navbar-icons {
  display: block;
}
.mobile-navbar-icons {
  display: none;
}

.checked {
  color: orange;
}
.fa-star {
  color: orange;
}

/*========================================================================== */
/* Button Styles 
/*========================================================================== */
.plus-button {
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
}

.minus {
  border-radius: 999px;
  border: 2px solid lightgrey;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 500px;
  position: relative;
}
.fa-minus {
  color: grey;
  font-size: 12px;
}

.plus-button:after,
.plus-button:before {
  content: "";
  display: block;
  background-color: grey;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.plus-button:after {
  height: 0.2em;
  width: 1em;
}

.plus-button:before {
  height: 1em;
  width: 0.2em;
}

.plus-button--small {
  font-size: 12px;
}
.button {
  padding-top: 0px;
  padding-left: 2em;
}
.event-button {
  padding-left: 6em;
}
.addbuttoncol {
  padding-right: 0px;
}
.marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}
.fa-circle {
  font-size: 5px;
  padding-bottom: 2px;
}
.bullet {
  content: " • ";
}

/*==========================================================================  
/*Footer Styles
/*========================================================================== */
.page-footer {
  bottom: 0;
  color: #fff;
  background-color: #263238 !important;
  font-size: 0.9rem;
  padding-top: 1.5rem !important;
}

.mt-md-0 {
  margin-top: 0 !important;
}
.footer-copyright {
  overflow: hidden;
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

/*==========================================================================  
/* Media Queries
/*========================================================================== */
@media (max-width: 480px) {
  /*==========================================================================  
  /*General Styling
  /*========================================================================== */
  .navbar-content {
    padding-right: 0px;
  }
  #location::placeholder {
    font-size: 12px;
  }

  #calendar {
    padding-left: 0em;
    padding-right: 0em;
    margin-right: 0px;
    width: 35%;
    font-size: 11px;
  }
  /*==========================================================================  
  /*Homepage (main.hbs)
  /*========================================================================== */
  .homepage-background-photo {
    background-image: url("/fireworks-mobile");
    height: 20rem;
  }

  .main-page-searchbar {
    width: 100%;
    margin-left: 0%;
    padding-top: 0%;
  }

  .homepage-image-div {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 10px;
  }

  #homepage-header {
    font-size: 35px;
    padding-bottom: 20px;
  }

  .planyourdatenight {
    padding-bottom: 5em;
  }
  #zipcode-input {
    padding-right: 0px;
  }
  #calender {
    width: 9em;
    font-size: 15px;
    padding-left: 0em;
  }

  .homepage-form {
    padding-top: 0em;
  }

  .planyourdatenight {
    padding-top: 1em;
  }
  .dateimagecol {
    padding-left: 15%;
    padding-right: 15%;
  }

  .date-night-img {
    height: 200px;
  }

  #aboutDateNightHeader {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center !important;
  }
  #aboutDateNighttext {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  /*==========================================================================  
  /*Search Results Page (search-results.hbs)
  /*========================================================================== */
  .navbar-search-results {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .mycontent-left {
    margin-right: 3px;
    display: none;
  }

  .results-page-column {
    padding-top: 2em;
  }
  .filter-container {
    left: 0%;
    padding-left: 0%;
    margin-left: 0%;
  }

  .results-page-form {
    width: 100%;
    margin-right: 0%;
    margin-left: 0%;
    display: block;
    text-align: center;
    padding-top: 0.5em;
    padding-right: 0%;
    padding-left: 0%;
  }

  .webpage-navbar-icons {
    display: none;
  }
  .mobile-navbar-icons {
    display: block;
  }
  hr.solid {
    display: block;
    border-top: 1px solid #bbb;
    width: 100%;
  }
  .current-location-header {
    font-weight: bold;
  }
  .searchbutton {
    display: static;
  }
  .fa-sort-amount-down {
    font-size: 20px;
    padding-right: 10px;
  }
  .about-section {
    padding-bottom: 20px;
  }

  /*==========================================================================  
  /*Itinerary (itinerary.hbs)
  /*========================================================================== */
  .itinerary-form {
    width: 100%;
    font-size: 20px;

    margin-left: 0%;
  }

  .itinerary-navbar {
    padding-right: 0px;
  }
}
